.wrapper {
  background-color: transparent !important;
}

.logo {
  display: none !important;
}

.main-header>.navbar {
  &, & * {
    background: transparent !important;
  }
}

section.content {
  div:first-child {
    .box.n-h {
      overflow: visible;
      display: flex;
      flex-direction: column;
    }
  }

  .bg {
    top: -80px !important;
    min-width: 100vw;
    left: -300px;
    right: -300px;
  }
  
  .box-footer {
    flex-grow: 1;
    // align-items: start !important;
    // justify-content: start !important;
    backdrop-filter: blur(10px);
  
    & > .brief {
      margin-top: 0;
    }
  }

  .n-btn {
    backdrop-filter: blur(2px) brightness(0.7);
  }
}

section.content {
  .row:nth-child(2) {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    filter: drop-shadow(0 0 200px #090a0f) drop-shadow(0 0 100px #090a0f) drop-shadow(0 0 20px #090a0f);

    * {
      background: transparent !important;
    }

    .episode-box:hover {
      border-radius: 10px;
      backdrop-filter: blur(100px) brightness(3);
    }
  }
}
